* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 200px auto;
    text-align: center;
    background: plum;
    line-height: 1.7;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    background: white;
}